@import "./common";
:local(.root){
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 3% 2.5% 2.1%;
  @include gradient-vertical(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.4) 100%);
  color: $colorLight;
  figure {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding-left: .5%;
  }
  i,
  b {
      display: inline-block;
      vertical-align: top;
  }
  .logo-img {
      width: 11%;
      svg {
          width: 100%;
      }
  }
  .logo-text {
      width: 9%;
      padding-top: 1.5%;
      margin: 0 1.3% 0 1.5%;
      svg {
          width: 100%;
      }
  }

  b {
      padding-top: 1%;
      font-weight: normal;

  }
  p {
      position: absolute;
      left: 13%;
      bottom: 10%;
      white-space: nowrap;
      font-size: 2.1rem;
  }
  button {
      position: absolute;
      right: 9%;
      top: 30%;
      background: #f78015;
      border: none;
      padding: .5% 5%;
      font-size: 3rem;
  }

}

@media screen and (orientation: landscape) {
  :local(.root) {
        padding: 1% 2.5% 1.1%;
        .logo-img {
            width: 6%;
        }
        .logo-text {
            width: 4%;
            padding-top: .5%;

        }
        b {
            padding-top: .5%;
        }
        p {
            left: 8%;
            bottom: 10%;
        }
    }
}
